/* Global styles */
body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../images/pattern-bg2.png");
  background-size: 100vw 100%;
  background-repeat: no-repeat;

  height: 35.2vh;
  width: 100vw;
  z-index: 3;
}

header form {
  text-align: center;
  padding-top: 1.5em;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 1em;
  font-size: 1.9em;
}

/* Search bar */
.ip-form {
  display: flex;
  justify-content: center;
  width: 38.54vw;
  height: 7.3vh;


  
  padding: 0;
  margin: 3.5vh 0 0 0;
  z-index: 4;
}

input[type="text"] {
  width: 89.54%;
  height: 100%;

  padding: 0 0 0 4.5%;
  border: 0;

  outline: none;
  border-radius: 0.8em 0 0 0.8em;
  box-shadow: rgba(0, 0, 0, 0.8) 0 5px 20px;

  font-size: 1.155em;
  transition: 1s;
}

/* Submit button arrow */
.submit-btn {
  width: 10.45%;
  height: 100%;

  background-color: black;
  background-size: 1px 1px;

  border: 0;
  border-radius: 0px 15px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 5px 20px;

  transition: ease-in-out 0.1s;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(61, 61, 61);
}

.light-switch {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Info Section */
.info-section {
  display: flex;
  justify-content: center;

  width: auto;
  height: auto;

  margin: -10.2vh 0 0 0;
  padding: 0 0 0 0vw;

  background-color: white;
  z-index: 2;
  position: relative;
  font-size: 1rem;

  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 50px;
  border: 1px rgba(0, 0, 0, 0.168) solid;
  border-top: 0;
}

.info-section > div {
  width: 18.2vw;
  padding: 10px 0 0 5px;
  margin: 5px 5px 10.3vh 5px;
  height: 8vh;
}

.info-section > div::after {
  content: "";
  position: absolute;
  top: 27%;
  margin-left: -15px;

  width: 1px;
  height: 45%;
  background: rgb(198, 187, 187);
}

.ip-title::after {
  content: none !important;
}

.ip-title > p,
.location-title > p,
.timezone-title > p,
.isp-title > p {
  text-transform: uppercase;
  font-weight: 700; 
  opacity: 0.5;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 15px;  
  margin-top: 20px;
  margin-left: 22px;
}

.ip,
.location,
.timez,
.isp {
  font-size: 1.55em;
  font-weight: 600;
  margin-left: 22px;
}

.ip p,
.location p,
.timez p,
.isp p {
  margin: 0;
  width: 70%;
  color: rgb(43, 43, 43); 
}

/* Zoom in and Zoom out controls */
.leaflet-container .leaflet-control-zoom-in {
  display: none;
}

.leaflet-container .leaflet-control-zoom-out {
  display: none;
}

/* Map */
#map {
  height: 790px;
  width: 100%;
  margin-top: -10vh;
  z-index: 1;
}

/* ========================= */
/* ----- Media Queries ----- */
/* ========================= */

@media (max-width: 69em) {
  .ip-form {
    width: 45vw;
    height: 7.3vh;
  }
  .submit-btn {
    width: 15%;
  }

  .ip,
  .location,
  .timez,
  .isp {
    font-size: 1.2em;
  }
}

@media (max-width: 56em) {
  .ip,
  .location,
  .timez,
  .isp {
    font-size: 0.9em;
  }
}

@media (max-width: 45em) {
  .ip-form {
    width: 60vw;
    height: 7.3vh;
  }

  .ip,
  .location,
  .timez,
  .isp {
    font-size: 0.8em;
  }
}

/*mobile screens*/

@media (max-width: 37em) {
   header h1{
    font-size: 1.6em;
   }

  .ip-form {
    width: 87vw;
    height: 7.3vh;
    margin-top: 3.5vh;
  }

  .submit-btn {
    width: 18%;
  }

  .info-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 87vw;
    margin-top: -15vh;
  }

  .info-section > div {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .ip-title{
    margin-top: 3vh !important;
   }

  .ip-title > p,
  .location-title > p,
  .timezone-title > p,
  .isp-title > p {
    font-size: .6em;
    margin: 0;
    padding: 0;
  }

  .ip p,
  .location p,
  .timez p,
  .isp p {
    width: auto;
    margin-top: 1vh;
    font-size: 1.45em;
  }

  .info-section > div::after {
    content: none;
  }

  .ip,
  .location,
  .timez,
  .isp {
    font-size: 0.8em;
  }
}
