/* Global styles */
body {
    margin: 0;
}

/* Header */
header {
    background-image: url("../images/pattern-bg.png");
    height: 250px;
}

header form {
    text-align: center;
    padding-top: 1.5em;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 1em;
}

/* Search bar */
input[type=text] {
    width: 25em;
    padding: 12px 12px;
    border-radius: 0.8em;
    font-size: 1em;
  }

/* Submit button arrow */
.submit-btn {
    background-color: black;
    padding: 15.8px;
}

input.submit-btn {
    margin-left: -18px;
    margin-bottom: -17.5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Info Section */
.info-section {
    display: flex; 
    justify-content: center;
    width: 80%;
    height: 120px;
    margin: auto;
    border-radius: 10px;
    margin-top: -60px;
    background-color: white;
    z-index: 2;
    position: relative;
}

.info-section > div {
    width: 270px;
    padding: 10px 0 0 10px;
    margin: 5px;
}

.ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
    text-transform: uppercase;
}

.ip, .location, .timez, .isp {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: -5px;
}

/* Zoom in and Zoom out controls */
.leaflet-container .leaflet-control-zoom-in {
    display: none;
}

.leaflet-container .leaflet-control-zoom-out {
    display: none;
}

/* Map */
#map {
    height: 790px;
    width: 100%; 
    margin-top: -60px;
    z-index: 1;
}

/* ========================= */
/* ----- Media Queries ----- */
/* ========================= */

/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {

}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {

  }

/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .leaflet-container .leaflet-control-zoom-in {
        display: block;
    }
    .leaflet-container .leaflet-control-zoom-out {
        display: block;
    }
  }