/* Global styles */
body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

/* Header */
header {
     display: flex;
     flex-direction: column;
     align-items: center;

    background-image: url("../images/pattern-bg.png");
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    height: 35.2vh;
    width: 100vw;
    z-index: 10;
}

header form {
    text-align: center;
    padding-top: 1.5em;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 1em;
}

/* Search bar */
.ip-form{
    display: flex;
    justify-content: center;
    width: 38.54vw;
    height: 7.3vh;
    padding: 0;
    margin: 3.03vh 0 0 0;
}

input[type=text] {
    width: 89.54%;
    height: 100%;


    padding: 0 0 0 4.5%;
    border: 0;


    outline: none; 
    border-radius: 0.8em 0 0 0.8em;
    font-size: 1.155em;
    transition: 1s;
  }

/* Submit button arrow */
.submit-btn {
     width: 10.45%;
     height: 100%;

    background-color: black;
    background-size: 1px 1px;
    border: 0;
    border-radius: 0px 15px 15px 0px;
    transition: ease-in-out .1s;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}


.light-switch{
    display: none;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Info Section */
.info-section {
    display: flex; 
    justify-content: center;

    width: auto;
    height: 20.3vh;


    margin: auto;
    border-radius: 15px;
    margin-top: -10.2vh;
    padding: 0 0 0 0;

    background-color: white;
    z-index: 2;
    position: relative;
    font-size: 1rem;
}

.info-section > div {
    width: 17.9vw;
    padding: 10px 0 0 10px;
    margin: 5px;
    height: 8vh;
}

.info-section > div::after {
    content: '';
    position: absolute;
    top: 27%;
    margin-left: -15px;

    width: 1px; 
    height: 45%;
    background: rgb(198, 187, 187);
}

.ip-title::after {
content: none !important;
}

.ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0.5;
    font-size: .75rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 16px;
}

.ip, .location, .timez, .isp {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 16px;
}

.ip p, .location p, .timez p, .isp p {
margin: 0;
width: 70%;
}







/* Zoom in and Zoom out controls */
.leaflet-container .leaflet-control-zoom-in {
    display: none;
}

.leaflet-container .leaflet-control-zoom-out {
    display: none;
}

/* Map */
#map {
    height: 790px;
    width: 100%; 
    margin-top: -10vh;
    z-index: 1;
}

/* ========================= */
/* ----- Media Queries ----- */
/* ========================= */

/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {
 
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    input[type=text] {
    

      }
    .info-section {
     
    }
    .ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
       
    }
}

/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    input[type=text] {
     
      }
    .submit-btn {
     
    }
    
    input.submit-btn {
      
    }
    .info-section {
     
    }
    .ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
        
    }
}

/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    input[type=text] {
        
      }
    .submit-btn {
       
    }
    
    input.submit-btn {
      
    }
    .info-section {
   
    }
    .ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
    
    }
  }

/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    input[type=text] {
    
      }
    .info-section {
      
    }
    .ip-title > p, .location-title > p, .timezone-title > p, .isp-title > p {
     
    }
    .leaflet-container .leaflet-control-zoom-in {
     
    }
    .leaflet-container .leaflet-control-zoom-out {
       
    }
  }